/* CSS Reset from joshwcomeau */
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }
  /**************************/

html {
    font-size: 12px;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

.header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main {
    height: 80vh;
    text-align: center;
    background: orange;
}

.grid-container {   
    width: 256px;
    height: 256px;    
    background: white;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    outline: 2px solid black;
}

.footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/** For JS Properties 

.square {

}